:root {
  --primary: #dce8eb;
  --secondary: #24232c;
  --font-2: #80a2ac;
  --accent: #d38239;
  --ani-time: 2.8s;
  --ani-delay: 0.2s;
}

h1 {
  font-size: 72px;
  letter-spacing: 3px;
  word-spacing: 10px;
  font-weight: 900;
  color: var(--primary);
  margin: 10px;
}
h2 {
  font-size: 60px;
  font-weight: 500;
  color: var(--font-2);
  margin: 10px;
}
p {
  font-size: 24px;
  font-weight: 300;
  color: var(--primary);
  margin: 20px;
}

/* ============== INTRO.JS ============== */

.App {
  text-align: center;
  overflow: hidden;
  background-color: var(--secondary);
}

.App-header {
  background-color: var(--primary);
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--secondary);
  overflow: hidden !important;
}

.div-box {
  width: calc(50vw - 6px);
  height: 50vh;
  overflow: hidden;
  background-color: var(--primary);
}

.circle-container {
  position: absolute;
  top: 0px;
  left: calc(50vw - 98px);
  z-index: 999;
  background-color: transparent;
  height: 196px;
  width: 196px;
  overflow-x: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-path {
  position: absolute;
  top: calc(50vh - 98px);
  left: 0px;
  height: 196px;
  width: 100vw;
  z-index: 998;
  background-color: transparent;
  overflow: hidden;
}

#tl {
  border-right: 6px solid var(--secondary);
  mask-image: radial-gradient(
    circle at bottom right,
    transparent 0,
    transparent 86px,
    black 21px
  );
  mask-position: bottom right;
  mask-repeat: no-repeat;
  transform: translateY(-50vh);
  overflow: hidden;
  animation: slide-tl var(--ani-time) cubic-bezier(0.42, 0, 0.58, 1)
    var(--ani-delay) normal forwards;
}
#tr {
  border-left: 6px solid var(--secondary);
  mask-image: radial-gradient(
    circle at bottom left,
    transparent 0,
    transparent 86px,
    black 21px
  );
  mask-position: bottom left;
  mask-repeat: no-repeat;
  transform: translateY(-50vh);
  overflow: hidden;
  animation: slide-tr var(--ani-time) cubic-bezier(0.42, 0, 0.58, 1)
    var(--ani-delay) normal forwards;
}
#bl {
  border-right: 6px solid var(--secondary);
  mask-image: radial-gradient(
    circle at top right,
    transparent 0,
    transparent 86px,
    black 21px
  );
  mask-position: top right;
  mask-repeat: no-repeat;
  transform: translateY(50vh);
  overflow: hidden;
  animation: slide-bl var(--ani-time) cubic-bezier(0.42, 0, 0.58, 1)
    var(--ani-delay) normal forwards;
}
#br {
  border-left: 6px solid var(--secondary);
  mask-image: radial-gradient(
    circle at top left,
    transparent 0,
    transparent 86px,
    black 21px
  );
  mask-position: top left;
  mask-repeat: no-repeat;
  transform: translateY(50vh);
  overflow: hidden;
  animation: slide-br var(--ani-time) cubic-bezier(0.42, 0, 0.58, 1)
    var(--ani-delay) normal forwards;
}

.halfcircle {
  box-sizing: border-box;
  height: 100%;
  right: 0px;
  position: absolute;
  border: solid 12px transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  animation: rotate var(--ani-time) cubic-bezier(0.42, 0, 0.58, 1)
    var(--ani-delay) normal forwards;
}

#halfclip-right {
  width: 50%;
  height: 100%;
  right: 0px;
  position: absolute;
  transform-origin: left center;
}

#halfclip-left {
  width: 50%;
  height: 100%;
  right: 0px;
  transform: rotate(180deg);
  position: absolute;
  transform-origin: left center;
}

#clipped {
  width: 200%;
}

#logo {
  color: #d38239;
  position: absolute;
  z-index: 1000;
  animation: logo var(--ani-time) var(--ani-delay) normal forwards;
  opacity: 0;
}

/* ============== LANDING.JS ============== */

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  animation: fade-in 1s ease-in normal forwards;
  background-color: var(--secondary);
}

.row-1 {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100vw;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-tl {
  0% {
    transform: translateY(-50vh);
    animation-timing-function: ease-out;
  }
  50%,
  80% {
    animation-timing-function: ease-in;
    transform: translateY(0px);
  }
  81% {
    transform: translateX(-10px);
  }
  88% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(-51vw);
  }
}

@keyframes slide-bl {
  0% {
    transform: translateY(50vh);
    animation-timing-function: ease-out;
  }
  50%,
  80% {
    animation-timing-function: ease-in;
    transform: translateY(0px);
  }
  81% {
    transform: translateX(-10px);
  }
  88% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(-51vw);
  }
}

@keyframes slide-tr {
  0% {
    transform: translateY(-50vh);
    animation-timing-function: ease-out;
  }
  50%,
  80% {
    animation-timing-function: ease-in;
    transform: translateY(0px);
  }
  81% {
    animation-timing-function: ease-in;
    transform: translateX(10px);
  }
  88% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(51vw);
  }
}

@keyframes slide-br {
  0% {
    transform: translateY(50vh);
    animation-timing-function: ease-out;
  }
  50%,
  80% {
    animation-timing-function: ease-in;
    transform: translateY(0px);
  }
  81% {
    transform: translateX(10px);
  }
  88% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(51vw);
  }
}

@keyframes rotate {
  0% {
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  49.9% {
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  50% {
    animation-timing-function: ease-in-out;
    border-top-color: var(--secondary);
    border-left-color: var(--secondary);
    transform: rotate(-45deg);
  }
  65% {
    border-top-color: var(--secondary);
    border-left-color: var(--secondary);
    transform: rotate(135deg);
  }
  75%,
  80% {
    animation-timing-function: ease-in;
    background-color: var(--secondary);
    border-top-color: var(--secondary);
    border-left-color: var(--secondary);
    transform: rotate(135deg);
  }
  81% {
    transform: translateX(10px);
  }
  88% {
    background-color: var(--secondary);
    border-top-color: var(--secondary);
    border-left-color: var(--secondary);
    transform: translateX(80px) rotate(135deg);
  }
  100% {
    background-color: var(--secondary);
    border-top-color: var(--secondary);
    border-left-color: var(--secondary);
    transform: translateX(51vw) rotate(135deg);
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  48% {
    transform: rotate(-20deg);
    animation-timing-function: ease-in-out;
  }
  50% {
    opacity: 1;
  }
  83% {
    transform: rotate(740deg);
    opacity: 1;
  }
  91% {
    transform: rotate(720deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(720deg);
  }
}
