/* DESKTOPLANDING.JS */

.desktop-app-container {
  width: 100vw;
  height: 100vh;
}

#menu-spacer {
  width: 15vw;
  min-width: 120px;
  max-width: 250px;
  height: 100%;
}

#desktop-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  overflow-y: scroll;
}

/* DESKTOPMENU.JS */
.desktop-menu-container {
  position: fixed;
  width: 15vw;
  min-width: 120px;
  max-width: 270px;
  height: 100vh;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.desktop-menu-icon {
  width: clamp(40px, 10vw, 63px);
  margin: 20px auto;
}

.desktop-home-container {
  text-align: left;
  height: 400vh;
}

/* DESKTOPHOME.JS */

#desktop-name {
  font-size: clamp(1em, 10vw, 8em);
}

#desktop-subtitle {
  font-size: clamp(2em, 5vw, 5em);
  margin: 0;
  margin-top: 10px;
  width: auto;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stack-logo-container {
  width: clamp(279px, 29vw, 700px);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 20px;
  width: clamp(240px, 30vw, 480px);
}

.subtitle-container {
  display: flex;
  flex-direction: column;
  justify-content: center space-around;
  align-items: center;
  width: clamp(292px, 46vw, 729px);
}

.stack-logo {
  width: clamp(40px, 5vw, 80px);
  margin-bottom: 7px;
}
