:root {
  --primary: #dce8eb;
  --secondary: #24232c;
  --font-2: #80a2ac;
  --accent: #d38239;
  --ani-time: 2.8s;
  --ani-delay: 0.2s;
}

.desktop-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

/* ============== DESKTOPLANDING.JS ============== */

.desktop-app-container {
  width: 100vw;
  height: 100vh;
}

#menu-spacer {
  width: 15vw;
  min-width: 120px;
  max-width: 250px;
  height: 100%;
}

#desktop-content-container {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  overflow-y: scroll;
}

#inner-desktop-content {
  height: min-content;
  width: min-content;
  overflow: scroll;
}

.body-text {
  width: 50%;
  padding-right: 10%;
  line-height: normal;
  font-size: clamp(1em, 2vw, 2em);
}

.desktop-about-container {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#about-img-desktop {
  object-fit: cover;
  width: 40%;
  height: 40%;
  border-radius: 25px;
  min-height: 300px;
  min-width: 300px;
}

.external-link-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#projects-desktop-wrapper {
  min-height: 1050px;
}

/* ============== CUSTOMSCROLL.JS ============== */

#scroll-track {
  width: 5px;
  background-color: transparent;
  position: fixed;
  right: 0px;
  top: 0.75vh;
}

#scrollbar {
  width: 5px;
  position: relative;
  border-radius: 25px;
  transition: all 0.5s;
}

/* ============== DESKTOPMENU.JS ============== */
.desktop-menu-container {
  position: fixed;
  width: 15vw;
  min-width: 120px;
  max-width: 270px;
  height: 100vh;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.desktop-menu-icon {
  width: clamp(40px, 10vw, 63px);
  margin: 20px auto;
  transition: transform 0.5s;
  cursor: pointer;
}

/* ============== DESKTOPHOME.JS ============== */

#desktop-name {
  font-size: clamp(1em, 10vw, 8em);
}

#desktop-subtitle {
  font-size: clamp(2em, 5vw, 5em);
  margin: 0;
  margin-top: 10px;
  width: auto;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  width: 80vw;
  text-align: center;
}

.stack-logo-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 20px;
  width: clamp(240px, 65vw, 720px);
}

.subtitle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(292px, 46vw, 729px);
}

.stack-logo {
  width: clamp(80px, 10vw, 120px);
  margin-bottom: 7px;
}

/* ============== PROJECTEXPLORER.JS ============== */
.desktop-project-explorer {
  width: 80%;
  height: 100%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.desktop-folders {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  flex-wrap: wrap;
}

.desktop-folder-container {
  text-align: center;
  margin: 10px 20px;
  padding: 20px;
  pointer-events: all;
  overflow: hidden;
}

.desktop-collection-stack {
  margin: 5px 50px;
  width: 150px;
  position: relative;
  cursor: pointer;
}

.desktop-collection-view {
  padding: 0 20px;
  background: var(--primary);
  z-index: 2;
  position: relative;
  height: 100px;
  border-radius: 5px;
  transition: 0.2s;
  bottom: 0;
  border-top-left-radius: 0;
}
.desktop-collection-view::before {
  content: "";
  position: absolute;
  background: var(--primary);
  width: 40%;
  top: -10px;
  left: 0px;
  height: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* ============== DESKTOPTITLE.JS ============== */

.desktop-row-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
}

.desktop-name-letters {
  margin: 0;
  min-width: 50%;
  font-size: clamp(2em, 5vw, 4.5em);
}

.desktop-name-hr {
  min-width: 20px;
  min-height: clamp(23px, 3.5vw, 52px);
  margin: 0 auto;
  background-color: #d38239;
}

#desktop-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 10vw;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0px;
  transition: opacity 0.3s;
}
.desktop-titles {
  font-size: clamp(2em, 5vw, 4.5em);
  min-width: 40%;
  margin: 5px;
}
/* .desktop-name-letters {
  margin: 0;
  min-width: 70px;
  font-size: clamp(2em, 5vw, 4.5em);
} */
.desktop-hr {
  background-color: #d38239;
  height: clamp(140px, 10vw, 300px);
  margin-right: 10%;
  width: clamp(1em, 5vw, 3em);
}

.desktop-title-bar {
  height: clamp(15px, 40vw, 30px);
  background-color: #d38239;
  width: 100%;
}

.desktop-files {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.desktop-file-container {
  width: 33%;
  margin-top: 10%;
}

.desktop-paper {
  height: 200px;
  width: 146px;
  background-color: var(--primary);
  margin: 0 auto 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 990;
  transform: scale(1);
}
/* Paper fold from Nicholas Gallagher */
/* https://nicolasgallagher.com/pure-css-folded-corner-effect/demo/ */

.desktop-paper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 22px 22px 0;
  border-style: solid;
  border-color: #24232c #24232c #f8f8ff #f8f8ff;
  background: transparent;
  display: block;
  width: 0;
  z-index: 1;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 30%), -1px 1px 1px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgb(0 0 0 / 30%), -1px 1px 1px rgb(0 0 0 / 20%);
}

.desktop-folder-container > p {
  margin-top: 15px;
  font-size: 32px;
}

.desktop-file-container > p {
  font-size: 24px;
}

.desktop-paper-line {
  height: 15px;
  width: 75%;
  margin: 10px 0;
  border-radius: 25px;
  background-color: gray;
  transition: 3s transform;
}

/* ============== MEDIA QUERIES ============== */

@media screen and (max-width: 937px) {
  .body-text {
    width: 80%;
    text-align: center !important;
    padding: 0 0 20px 0;
  }

  .desktop-about-container {
    justify-content: center;
  }
  #about-img-desktop {
    width: 80%;
  }
  #about-wrapper {
    height: 70vh;
  }
  .desktop-collection-stack {
    width: 100px;
  }
  .desktop-collection-view {
    height: 70px;
  }
  .desktop-paper {
    height: 100px;
    width: 73px;
  }
  .desktop-folder-container > p {
    margin-top: 10px;
    font-size: 20px;
  }

  .desktop-file-container > p {
    font-size: 16px;
  }

  .desktop-paper-line {
    height: 7px;

    margin: 5px 0;
  }

  #projects-desktop-wrapper {
    min-height: 900px;
  }
}

@media screen and (max-height: 937px) {
  .title-container {
    justify-content: flex-start;
  }
}
